<!DOCTYPE html>
<html>
<head>
  <title>Mohamed Sayed Hassan - CV</title>
</head>
<body>
  <h1>Mohamed Sayed Hassan</h1>
  <p>Cairo, Egypt</p>
  <p> +201102644564</p>
  <p>Email: mohamedsayed1612000@gmail.com</p>

  <h2>CAREER OBJECTIVE</h2>
  <p>Seeking a challenging career in the field of DevOps where I can utilize and grow my current knowledge, experience, and skill set acquired from both my educational background and side-projects.</p>

  <h2>EDUCATION</h2>
  <p>Ain Shams University | 09/2018 – 07/2022</p>
  <p>Faculty of Computer Science, Ain-Shams University, Cairo, Egypt</p>

  <h2>COURSEWORK / SKILLS</h2>
  <ul>
    <li>Languages: English, Arabic</li>
    <li>Data Structures & Algorithms</li>
    <li>OOP Concepts</li>
    <li>Problem Solving</li>
    <li>Design Patterns</li>
    <li>Database Management System (DBMS)</li>
  </ul>

  <h2>EXPERIENCE</h2>
  <p>Freelancer | 07/2021 – Current</p>
  <p>Digital Marketing (Remote)</p>
  <ul>
    <li>Create sales promotions to different clients from all over the world that are beneficial to both the customer and the dealership</li>
    <li>Answer online customer inquiries in a timely manner</li>
    <li>Communication with customers from different countries like usa, UK, Australia, and Germany for the first time in the company via social media and mails to inform them of the new products, features, promotions, etc.</li>
  </ul>

  <h2>TECHNICAL SKILLS</h2>
  <ul>
    <li>Languages: Linux (admin 1), Bash scripting, Assembly, C, C++, Java, SQL, Python, Dart</li>
    <li>Developer Tools: VS Code, Git, GitHub</li>
  </ul>

  <h2>SOFT SKILLS</h2>
  <ul>
    <li>Marketing</li>
    <li>Excellent Communication skills</li>
    <li>Digital Marketing</li>
  </ul>

  <h2>PROJECTS</h2>
  <h3>Parkinson's Detection GP | Tech stack: Stack: React - TailwindCSS - Flask - Firebase - Heroku</h3>
  <ul>
    <li>Fully responsive modern Full Stack website that detects Parkinson's to help doctors detect if a patient has Parkinson's using CNN deep learning.</li>
   
  </ul>
</body>
</html>